.container-7{
  background-image: url(images/bg-7.png),url(images/Rectangle\ 10.png);
 background-position: fixed;
 background-repeat: no-repeat;
}
.header-2{
  background-image: url(images/bg-8.png);
  display: flex;
  justify-content: space-between;
  top: 0;left: 0;right: 0;
  z-index: 1000;
  padding: 15px;
  height: 130px;
}
.head{
  display: flex;
  justify-content: baseline;
  gap: 10px;
}

.nav-2{
  display: flex;
  float: right;
  gap: 30px;
  margin-right: 15%;
  margin-top: 30px;
  align-items: baseline;
  size: 30px;
}
.content-7{
  display: flex;
  justify-content: space-between;
}

.cont-box-1 h2{
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 20%;
  margin-left: 150px;
  font-size: 30px;
  font-weight: 100;
}
.cont-box-1 p{
  text-align: justify;
  width: 300px;
  font-weight: lighter;
  font-weight: 50;
  margin-left: 150px;
  line-height: 30px;
  color: #858585;
}
.cont-box-1 button{
  text-transform: uppercase;
  margin-left: 150px;
  cursor: pointer;
  margin-bottom: 40%;
}
.cont-box-1 button:hover{
  color:#ce0000;
  background-color: #ffffff;
  font-size: 22px;
}
.cont-box-2{
  display: flex;
  flex-direction:column;
  width: 400px;
}
.red-box-2-1{
  display: flex;
  flex-direction: row;
}
.red-box-2-1 img{
  margin-left: 100px;
  margin-top: 20px;
}
.red-box-2-2 img{
  margin-left: 100px;
  margin-top: -20px;
}
.red-box-2-3 img{
  margin-left: 100px;
  margin-top: -20px;
}
.red-box-2-4 img{
  margin-left: 100px;
  margin-top: -20px;
}
.red-box-2-2{
  display: flex;
  flex-direction: row;
}
.red-box-2-3{
  display: flex;
  flex-direction: row;
}
.red-box-2-4{
  display: flex;
  flex-direction: row;
}
.h-1 h3{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
  margin-left: 10px;
}
.h-2 h3{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
  margin-left: 10px;
  margin-top: -20px;
}
.h-3 h3{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
  margin-left: 10px;
  margin-top: -20px;
}
.h-4 h3{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
  margin-left: 10px;
  margin-top: -20px;
}
.h-2 h3{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
}

.h-3 h3{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
}
.h-4 h3{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
}
.h-1 p{
  margin-left: 10px;
  margin-top: 5px;
  color: #858585;
  font-size: 15px;
}
.h-2 p{
  margin-left: 10px;
  margin-top: 5px;
  color: #858585;
  font-size: 15px;
}
.h-3 p{
  margin-left: 10px;
  margin-top: 5px;
  color: #858585;
  
}
.h-4 p{
  margin-left: 10px;
  margin-top: 5px;
  color: #858585;
}
.cont-box-2 h2{
  display: flex;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 90px;
  font-size: 30px;
  font-weight: 100;
  margin-left: 150px;
}
.red-box-2 img{
  margin-top: 20px;
  margin-left: 150px;
}
.side-heading{
  display: flex;
  justify-content: space-between;
}
.h-1 h3{
  display: flex;
  color: #ffffff;
  margin-top: 20px;
}
.cont-box-3 h2{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 90px;
  margin-left: 15%;
  font-weight: 100;
}
.cont-box-3 p{
  margin-left: 15%;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 30px;
}
.cont-box-3 h3{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 30;
  margin-left: 15%;
  font-size: 15px;
  margin-top: -20px;
}
.cont-box-3 h4{
  color:#858585 ;
  text-transform: capitalize;
  margin-left: 15%;
  font-weight: 10; 
}
.cont-box-3 h6{
  color: #ffffff;
  margin-left: 15%;
  margin-top: 7%;
  font-size: 15px;
}
h6 span{
  color: #858585;
  margin-left: 10px;
  text-transform: lowercase;
  font-size: 12x;

}
.red-small-h1{
  position:absolute;
  color: #ffffff;
  margin-top: 10%;
  margin-left: 565px;
  font-size: 15px;
  font-weight: 10;
}
.red-small-h2{
  position:absolute;
  color: #ffffff;
  margin-top: 17.1%;
  margin-left: 565px;
  font-size: 16px;
  font-weight: 10;
}
.red-small-h3{
  position:absolute;
  color: #ffffff;
  margin-top: 24.4%;
  margin-left: 565px;
  font-size: 16px;
  font-weight: 10;
}
.red-small-h4{
  position:absolute;
  color: #ffffff;
  margin-top: 31.2%;
  margin-left: 565px;
  font-size: 15px;
  font-weight: 10;
}
.red-small-p1{
  position: absolute;
  color: #ffffff;
  font-size: 33px;
  margin-top: 11%;
  margin-left: 565px;
}
.red-small-p2{
  position: absolute;
  color: #ffffff;
  font-size: 33px;
  margin-top:18%;
  margin-left: 563px;
}
.red-small-p3{
  position: absolute;
  color: #ffffff;
  font-size: 33px;
  margin-top: 25.3%;
  margin-left: 563px;
}
.red-small-p4{
  position: absolute;
  color: #ffffff;
  font-size: 33px;
  margin-top: 32%;
  margin-left: 563px;
}
footer{
  height: 50px;
}
footer p{
  text-align: center;
  font-size: 25px;
}


@media only screen and (max-width : 600px)
{
    .Info-box{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: column;
        margin: unset;
    }
    #insta{
        margin-top: 20px;
    }
    .container-7{
        background-size: cover;
        background-position: fixed;
        z-index:1;
    }
    .content-7{
        display: flex;
        flex-direction: column;
    }
    .cont-box-1{
        display: flex;
        flex-direction: column;
        margin: unset;
    }
    .cont-box-1 h2{
        justify-content: center;
        align-items: center;
        margin-left: 15%;
    }
    .head{
        margin-left: -80px;
    }
    .nav-2{
        margin-right: -2%;
    }
    .cont-box-1 p{
        margin-left: 15%;
    }
    .cont-box-1 button{
        margin-left: 15%;
        margin-bottom: 10px;
        height: 50px;
    }
    .cont-box-1 button:hover{
        color: #ce0000;
        background-color: #ffffff;
    }
    .h-1{
        font-size: 14px;
    }
    .h-1 p{
        font-size: 14px;
    }
    .header-2{
        height: 100px;
    }
    .nav-2{
       display: none;
    }
    .nav-2 a{
        display: flex;
        flex-direction: column;
    }
    .cont-box-2{
        display: none;
    }
    .cont-box-3{
        margin-top: 1px;
    }
    .cont-box-3 h6{
        margin-bottom: 10%;
    }

    footer{
        align-items: center;
        justify-content: center;
        margin-right:16%;
    }
    .row-1{
        display: flex;
        flex-direction: column;
    }
    .column-1{
        height: 400px;
        width: 400px;
    }
    .column-1 h1{
        font-size: 30px;
        font-weight: 200;
    }

    .row-1 .column-1 h1{
        margin-top: -420px;
    }

    .row-1 .column-1 p{
        margin-top: -370px;
    }
    .column-1 button{
        margin-top: -40%;
        margin-left: 8%;
    }
    .column-1 button:hover{
        color: #ce0000;
        background-color: #ffffff;
        border-radius: 2px solid red;
    }
    .column-2{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .column-2 img{
        margin-top: 25px;
        height: 220px;
        width: 220px;
    }
    .column-3 img{
        height: 220px;
        width: 220px;
    }
    .column-3{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .content-6{
        display: flex;
        flex-direction: column;
    }
    .para-6 {
        display: none;
    }
    .input-6 form{
        display: flex;
    }
    .input-6 form input{
        opacity: 0.420;
        width: 307px;
        height: 45px;
        margin-left: 1%;
    }
    .input-6 button{
        width: 120px;
        height: 42px;
        margin-top: -44px;
        margin-left: 38.8%;
        border-radius: 1px;
        font-size: 15px;
    }   
    .input-6 ::placeholder{
        color:white;
        font-size: 12px;
    }
    .container-6 h2 span b{
        text-transform: uppercase ;
        font-size: 25px;
        margin-left: 20px;
    }
    .container-6 h2 
    {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .container-5 h2{
        font-size: 15px;
    }
    .container-5 p{
        font-size: 10px;
        margin-left: 10px;
        width: 400px;
        text-align: justify;
    }
    .container-5{
        display: flex;
        flex-direction: column;
    }
    .arrow-l{
        display: none;
    }
    .arrow-r{
        display: none;
    }
    .bike-box{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
    }
    .bt-1{
        margin: unset;
        margin-top: -165%;
        width: 95px;
        font-size: 12px;
        height: 40px;
        margin-left: 32%;
    }
    .bt-1:hover{
        color: #ce0000;
        background-color: aliceblue;
        font-size: 14px;
    }
    .bt-2{
        margin: unset;
        margin-top: -115%;
        width: 95px;
        font-size: 12px;
        height: 40px;
        margin-left: 32%;
    }
    .bt-2:hover{
        color: #ce0000;
        background-color: aliceblue;
        font-size: 14px;
    }
    .bt-3{
        margin: unset;
        margin-top: -65%;
        width: 95px;
        font-size: 12px;
        height: 40px;
        margin-left: 32%;
    }
    .bt-3:hover{
        color: #ce0000;
        background-color: aliceblue;
        font-size: 14px;
    }
    .bt-4{
        margin: unset;
        margin-top: -13%;
        width: 95px;
        font-size: 12px;
        height: 40px;
        margin-left: 32%;
    }
    .bt-4:hover{
        color: #ce0000;
        background-color: aliceblue;
        font-size: 14px;
    }
    .container-4{
        background-position: fixed;
        background-repeat: no-repeat;
    }
    .circle{
        display: flex;
        flex-direction: column;
    }
    .circle-1 img{
        margin: unset;
        margin-top: 15%;
        margin-left: 40%;
    }
    .circle-1 p{
        margin: unset;
        text-align: justify;
        margin-top: 5%;
        font-size: 14px;
        width: 350px;
        margin-left: 10%;
    }
    .circle-1 h2{
        margin-left: 10%;
        font-size: 20px;
    }
    .circle-1 h3{
        margin-left: 10%;
        font-size: 15px;
    }

    .circle-2 img{
        margin: unset;
        margin-top: 15%;
        margin-left: 40%;
    }
    .circle-2 p{
        margin: unset;
        text-align: justify;
        margin-top: 5%;
        font-size: 14px;
        width: 350px;
        margin-left: 10%;
    }
    .circle-2 h2{
        margin-left: 10%;
        font-size: 20px;
    }
    .circle-2 h3{
        margin-left: 10%;
        font-size: 15px;
    }
    .flex-img{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 15%;
    }
    .img1{
        width: 300px;
        height: 300px;
    }
    .img2{
        width: 300px;
        height: 300px;
    }
    .img3{
        width: 300px;
        height: 300px;
    }
    .paragraph{
        display: flex;
        flex-direction: column;
    }
    .para h2{
        margin: unset;
        font-size: 14px;
        margin-top: 10%;
        width: 400px;
        margin-left: 5%;
    }
    .para p{
        margin-left: 5%;
        font-size: 12px;
        width: 400px;
    }
    .para button{
        margin: unset;
        width: 150px;
        height: 50px;
        margin-left: 5%;
    }
    .para button:hover{
        color: #ce0000;
        background-color: aliceblue;
    }
    .red-box{
        display: none;
    }
    .para-2{
        display: flex;
        flex-direction: column;
        margin: unset;
    }
    .para-2 h2{
        margin: unset;
        font-size: 14px;
        margin-top: 10%;
        width: 400px;
        margin-left: 5%;
    }
    .para-2 p{
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        font-size: 12px;
        width: 400px;
    }
    .para-2 button{
        margin: unset;
        width: 150px;
        height: 50px;
        margin-left: 5%;
        margin-bottom: 10%;
    }
    .para-2 button:hover{
        color: #ce0000;
        background-color: aliceblue;
    }
    .container-2 h1{
        flex-wrap: wrap;
        margin: unset;
        font-size: 25px;
        margin-top: 10%;
        margin-left: 8%;
    }
    .container-2 p{
        flex-wrap: wrap;
        margin: unset;
        font-size: 12px;
        margin-top: 5%;
        margin-left: 8%;
        text-align: justify;
        width: 300px;
        margin-bottom: 5%;
    }
    nav{
        display: none;
    }
    .container{
        background-position: fixed;
        background-repeat: no-repeat;
        margin: unset;
    }
    .heading{
        display: flex;
        flex-direction: column;
       
    }
    .p1{
       font-size: 20px;
        margin: unset;
        margin-top: 20%;
        margin-left: 5%;
    }
    .p2{
        font-size: 80px;
        margin-left: 5%;
        margin-top: 5%;
    }
    .p3{
        margin-left: 5%;
        margin-top: 5%;
    }
    .heading button{
        margin-left: 5%;
        margin-bottom: 15%;
    }
    .heading button:hover{
        color: #ce0000;
        background-color: aliceblue;
        font-size: 22px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .toggle-btn{
        display: block;
        cursor: pointer;
        margin: unset;
        margin-top: -10%;
    }

}
